@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Poppins:wght@300&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Playfair+Display+SC&family=Poppins:wght@300&family=Press+Start+2P&display=swap');

:root {
  --sm-font: 'Poppins', sans-serif;
  --lg-font: 'Black Ops One', serif;
  --black: #1E1E1E;
  --white: #9697A1;
}

body {
  font-family: var(--sm-font);
}

.navbar {

  background-color: var(--black);
  box-shadow: 0 3px 9px 3px rgba(55, 55, 55, 0.853);

}

.navbar-brand {
  color: var(--white) !important;
}

.nav-link {
  color: var(--white) !important;
}



.fs-2 {
  color: var(--black);
  font-family: var(--lg-font);
}

.text {
  font-family: var(--sm-font);
}

.card-title {
  font-family: var(--lg-font);
  font-size: 17px;
}

.card-text {
  font-family: var(--sm-font);

}




.carousel-item {
  height: 700px !important;
}

footer {
  background: #1E1E1E;

  height: auto;
  width: 100;
  font-family: "Poppins";
  padding-top: 40px;
  color: #F5EFE6;
}

.footer-content {
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;

}

.footer-content h3 {
  font-family: "Playfair Display SC";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-variant: all-small-caps;
  line-height: 3rem;
}

.footer-content p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;

}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;

}

.socials li {
  margin: 0 10px;

}

.socials a {
  text-decoration: none;
  color: #F5EFE6;
}

.socials a i {
  font-size: 30px;
  transition: color .4s ease;

}

.socials a:hover i {
  color: var(--white);
}

.carousel-button {
  margin-top: -50px;

}

.carousel-button a {
  font-family: var(--sm-font);
  font-size: 20px;
  background-color: #151516d8;
  color: whitesmoke;
  margin-left: 1090px;

}






.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.gallery img {
  width: 100%;
  height: auto;

  margin-bottom: 15px;
 
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 5% auto;
  width: 90%;
  max-width: 800px;
}

.modal img {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .gallery img {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .gallery img {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .gallery img {
    width: 23%;
  }
}